<launch>
 
	<arg name="device_id"/>
	<arg name="evo_filepath" />
	<arg name="resolution_fps"/>
	<arg name="work_mode"/>
	<arg name="auto_exposure"/>
	<arg name="exposure_time"/>
	<arg name="calc_distance"/>
	<arg name="max_distance"/>
	<arg name="confidence"/>
	<arg name="gravity"/>
	<arg name="imu_using_9_axes"/>
	<arg name="obstacle_detection"/>

	<include file="$(find leadsense_ros)/launch/leadsense_tf.launch" />

	<node name="leadsense_ros_node" pkg="leadsense_ros" type="leadsense_ros_node" output="screen">
		<!-- leadsense parameters -->
		<param name="deviceId"	value="$(arg device_id)" />
		<param name="evo_filepath" value="$(arg evo_filepath)" />
		<param name="resolution_fps"	value="$(arg resolution_fps)" />
		<param name="work_mode"	value="$(arg work_mode)" />
		<param name="confidence"	value="$(arg confidence)"/>
		<param name="exposure_time"	value="$(arg exposure_time)"/>
		<param name="auto_exposure"	value="$(arg auto_exposure)"/>
		<param name="max_distance"	value="$(arg max_distance)"/>
		<param name="gravity"	value="$(arg gravity)" />
		<param name="imu_using_9_axes"	value="$(arg imu_using_9_axes)" />
		<param name="calc_distance"	value="$(arg calc_distance)" />
		<param name="obstacle_detection"	value="$(arg obstacle_detection)" />

		<!-- ROS topic names -->
		<param name="left_image_topic"      value="left/image_rect_gray" />
		<param name="left_cam_info_topic"   value="left/camera_info" />
    
		<param name="right_image_topic"      value="right/image_rect_gray" />
		<param name="right_cam_info_topic"   value="right/camera_info" />
    
		<param name="depth_image_topic"      value="depth/depth_registered" />
		<param name="depth_cam_info_topic"   value="depth/camera_info" />

		<param name="disparity_topic"      value="disparity/disparity" />

		<param name="point_cloud_topic"     value="point_cloud/cloud_registered" />

		<param name="imu_topic"     value="imu/data" />
		<param name="imu_raw_topic"     value="imu/data_raw" />
		<param name="mag_topic"     value="imu/mag" />
		<param name="mag_raw_topic"     value="imu/mag_raw" />
		
		<param name="camera_height_topic"     value="left/camera_height" />
		<param name="camera_pitch_topic"     value="left/camera_pitch" />
		<param name="camera_roll_topic"     value="left/camera_roll" />
		<param name="laser_scan_topic"     value="left/laser_scan" />
		<param name="image_with_obstacle_topic"      value="left/image_with_obstacle" />
		<param name="image_with_ground_topic"      value="left/image_with_ground" />
  
  
	</node>

	<!-- ROS URDF description of the leadsense -->
	<param name="leadsense_description" textfile="$(find leadsense_ros)/urdf/leadsense.urdf" />
	<node name="leadsense_state_publisher" pkg="robot_state_publisher" type="state_publisher">
		<remap from="robot_description" to="leadsense_description" />
	</node>
  
</launch>
